---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---

<style>
  .header {
    display: flex;
  }

  /* Brand */
  .header__mark {
    background-color: var(--color-primary);
    height: 1.6rem;
    width: 1.6rem;
    border-radius: 100%;
  }
  .header__nav {
    
  }
  .nav {
    display: flex;
  }
  .nav li {
    list-style: none;
    margin-right: var(--space-double);
  }
  .header__nav, .header__nav a:visited {
    color: var(--color-secondary);
  }

  .header__nav a.active {
    text-decoration: none;
    padding-bottom: var(--space-eighth);
    color: var(--color-primary);
    font-weight: var(--weight-bold);
    position: relative;
  }

  .header__nav a.active:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background: var(--color-primary);
    position: absolute;
    bottom: -8px;
    left: 0;
  }
</style>

<div class="header">
  <h1 class="header__mark">
    <span class="screen-reader-only">The Digital Home of Brian Hinton</span>
  </h1>
  <nav class="header__nav">
    <ul class="nav" aria-label="primary navigation">
      <li><a href="/" class="active">Home</a></li>
      <li><a href="/notes">All Notes</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</div>
